main.layout-section {
  display: flex;
  flex-direction: row;

  #content {
    #content-body {
      max-width: 45rem;
    }

    #content-footer {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: flex-start;

      .youth-approved-seal {
        max-width: 10rem;
      }

      @media screen and (max-width: 32rem) {
        flex-direction: column;
        align-items: center;

        .youth-approved-seal {
          max-width: 7.5rem;
        }
      }
    }
  }

  #tweets {
    justify-self: end;
    margin-left: 5rem;
    width: 30%;
  }
}

@media screen and (max-width: 60rem) {
  main.layout-section #tweets {
    display: none;
  }
}
