---
layout: default
main_class: section
---

<div id="content">
  <div id="content-header">
    <h1>
      {{ page.title | escape }}
    </h1>
  </div>


  <div id="content-body">
    {{ content }}
  </div>

  <div id="content-footer">
    {%- assign social_links = page.social_links -%}
    {%- include social-links.html -%}
    {%- if page.youth_approved -%}{% youth_approved %}{%- endif -%}
  </div>
</div>

{%- if page.social_links.twitter -%}
  <div id="tweets">
    {% assign twitter_url = 'https://twitter.com/' | append: page.social_links.twitter %}
    {% twitter twitter_url limit=3 %}
  </div>
{%- endif -%}
